/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "../node_modules/bulma/css/bulma.css";

.center {
  text-align: center;
}

select.form-control {
  width: 100%;
}

#player_display {
  margin-bottom: 0.1rem;
  margin-right: 0.25rem;
  border: 1px solid black;
  background-color: white;
}

.lite-pad {
  padding: 0.3rem;
}

.no-padding {
  padding: 0px;
}

#player_display .level {
  margin-bottom: 0.25rem;
}

.bborders {
  margin: 1.5rem;
}

.font-right {
  text-align: right;
  align-content: flex-end;
  justify-content: flex-end;
}

.font-left {
  text-align: left;
  align-content: flex-start;
  justify-content: flex-start;

}

.ip_font {
  font-size: 10px;
  line-height: 26px;
  font-style: oblique;
}

.action_font {
  font-size: 12px;
  line-height: 26px;
  text-align: left;
}

.card-body {
  padding: .25rem;
}

.card {
  margin: .5rem;
  width: 100%
}

.card-header {
  padding: 0.25rem 0.5rem;
}

.logo_lev {
  padding-left: 30px;
}

.section {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .logo_div:before {
    content: "VolumeKnob";

  }

  .logo_div {
    background-color: orange;
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .logo_div {
    display: none;
  }
}

.f_width {
  width: 100%;
}

.top_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px;
  padding-left: 10px;
}

.sm_fixed {
  flex-basis: 220px;
  flex-shrink: 0;
  flex-grow: 0;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 12px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: rgb(228, 159, 11);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: rgb(228, 159, 11);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}