<div class="bborders row">
  <div class="col-sm-3 col">
    <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Logo" />
  </div>
  <div class="col-sm-9 col">
    <%= Phoenix.LiveView.live_render(@conn, VolumeKnobWeb.ControlsLive, session: %{
      devices: @devices,
      current_device: @current_device,
      current_player: @current_player,
      players: @players
    }) %>
  </div>
</div>
