/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.center {
  text-align: center;
}

.ip_font {
  font-size: 10px;
  text-align: right;
  font-style: oblique;
}

.action_font {
  font-size: 12px;
  text-align: left;
}

.card-body {
  padding: .25rem;
}
.card {
  margin: .5rem;
}
.card-header {
  padding: 0.25rem 0.5rem;
}