<h2>
  <label for="zones_field">Zones (<%= Enum.count(@zones) %>)</label>
  <select id="zones_field">
      <option value="">
        Choose a Zone
      </option>

    <%= for z <- @zones do %>
      <option value="<%= z.uuid %>">
        <%= z.name %>
      </option>
    <% end %>
  </select>
</h2>
