<div class="row">
  <div class="column center">
    <h1>
      VolumeKnob!
    </h1>
  </div>
</div>

<div class="row">
  <div class="column column-25">
    <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Logo" />
  </div>
  <div class="column column-75">
    <%= Phoenix.LiveView.live_render(@conn, VolumeKnobWeb.ControlsLive, session: %{zones: @zones}) %>
  </div>
</div>
