<div class="row">
  <div class="column center">
    <h1>
      VolumeKnob!
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col">
    <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Logo" />
  </div>
  <div class="col-sm-9 col">
    <%= Phoenix.LiveView.live_render(@conn, VolumeKnobWeb.ControlsLive, session: %{zones: @zones, current_zone: @current_zone}) %>
  </div>
</div>
